.main-landing.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 3132px;
  background-color: white;
  overflow: hidden;
}

::placeholder {
   text-align: center;
   font: 500 16px/1.25 "Barlow", Helvetica, Arial, serif;
}

*:focus {
    outline: none;
}

input[type="text"]
{
    font: 500 16px/1.25 "Barlow", Helvetica, Arial, serif;
}

.main-landing .cover {
  position: absolute;
  top: 194px;
  right: 1px;
  bottom: 424px;
  left: 1px;
  width: 1918px;
  height: 2515px;
}
.main-landing .cover1 {
  position: absolute;
  top: 246px;
  right: 161px;
  bottom: 2255px;
  left: 161px;
  width: 1598px;
  height: 632px;
  border-radius: 15px 15px 15px 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.247));
}
.main-landing .medium_title_box {
  position: absolute;
  top: 50px;
  right: 1620px;
  bottom: 3059px;
  left: 161px;
  display: flex;
  align-items: center;
  width: 139px;
  height: 24px;
}
.main-landing .medium_title {
  font: 400 24px/1 "Baloo", Helvetica, Arial, serif;
  color: black;
}
.main-landing .medium_title_span0 {
  font: 1em/0.83 "Baloo", Helvetica, Arial, serif;
  color: #0b98ff;
}
.main-landing .medium_title_span1 {
  font: 0.8333333333em/1 "Baloo", Helvetica, Arial, serif;
}
.main-landing .medium_title_span2 {
  font: 1em/0.83 "Baloo Cyrillic", Helvetica, Arial, serif;
  color: #0b98ff;
}
.main-landing .highlight {
  position: absolute;
  top: 54px;
  right: 1361px;
  bottom: 3059px;
  left: 506px;
  display: flex;
  align-items: center;
  width: 53px;
  height: 20px;
  font: 500 16px/1.25 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .highlight1 {
  position: absolute;
  top: 54px;
  right: 1275px;
  bottom: 3059px;
  left: 593px;
  display: flex;
  align-items: center;
  width: 52px;
  height: 20px;
  font: 500 16px/1.25 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .highlight2 {
  position: absolute;
  top: 54px;
  right: 1198px;
  bottom: 3059px;
  left: 680px;
  display: flex;
  align-items: center;
  width: 42px;
  height: 20px;
  font: 500 16px/1.25 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .cover2 {
  position: absolute;
  top: 36px;
  right: 1436px;
  bottom: 3041px;
  left: 337px;
  width: 147px;
  height: 56px;
  border-radius: 15px 15px 15px 15px;
}
.main-landing .subtitle {
  position: absolute;
  top: 55px;
  right: 1461px;
  bottom: 3058px;
  left: 386px;
  display: flex;
  align-items: center;
  width: 73px;
  height: 20px;
  font: 500 20px/1 "Barlow", Helvetica, Arial, serif;
  color: white;
}
.main-landing .image {
  position: absolute;
  top: 49px;
  right: 1535px;
  bottom: 3053px;
  left: 354px;
  width: 31px;
  height: 31px;
}
.main-landing .rect {
  position: absolute;
  top: 46px;
  right: 323px;
  bottom: 3043px;
  left: 1028px;
  width: 569px;
  height: 44px;
  background-color: #f4f5f9;
  border-radius: 8px 8px 8px 8px;
  transition:0.5s;
}

.main-landing .rect:has(.main-landing .image4:focus) {
	background-color: #DBDCE0;
}

.main-landing .image4 {
  position: absolute;
  top: 57px;
  right: 643px;
  bottom: 3056px;
  left: 1077px;
  width: 500px;
  height: 20px;
  background-color : #f4f5f9;
  border: 1px solid transparent;
  border-radius: 20px 20px 20px 20px;
  transition:0.5s;
}

.main-landing .image4:hover {
	background-color: #ffffff;
}

.main-landing .image4:focus {
	background-color: #ffffff;
}


.main-landing .image5 {
  position: absolute;
  top: 57px;
  right: 858px;
  bottom: 3056px;
  left: 1042px;
  width: 20px;
  height: 20px;
}
.main-landing .rect1 {
  position: absolute;
  top: 50px;
  right: 161px;
  bottom: 3043px;
  left: 1650px;
  width: 109px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px 20px 20px 20px;
  box-shadow: inset 0px 0px 0px 1px #0e0e0f;
}
.main-landing .highlight11 {
  position: absolute;
  top: 62px;
  right: 190.5px;
  bottom: 3055px;
  left: 1680.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49px;
  height: 16px;
  font: 600 16px/1 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
  text-align: center;
}
.main-landing .medium_title1 {
  position: absolute;
  top: 136px;
  right: 1629px;
  bottom: 2973px;
  left: 161px;
  display: flex;
  align-items: center;
  width: 130px;
  height: 24px;
  font: 500 24px/1 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .medium_title11 {
  position: absolute;
  top: 136px;
  right: 1423px;
  bottom: 2973px;
  left: 379px;
  display: flex;
  align-items: center;
  width: 118px;
  height: 24px;
  font: 500 24px/1 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .medium_title12 {
  position: absolute;
  top: 136px;
  right: 1253px;
  bottom: 2973px;
  left: 597px;
  display: flex;
  align-items: center;
  width: 70px;
  height: 24px;
  font: 500 24px/1 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .medium_title2 {
  position: absolute;
  top: 931px;
  right: 1592px;
  bottom: 2166px;
  left: 161px;
  display: flex;
  align-items: center;
  width: 167px;
  height: 36px;
  font: 600 27.9562950134px/1.28 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
  letter-spacing: -0.3px;
}
.main-landing .rect2 {
  position: absolute;
  top: 1001px;
  right: 1496px;
  bottom: 1774px;
  left: 168px;
  width: 256px;
  height: 358px;
  background-color: white;
  transition: 0.5s;
  border-radius: 18.8059005737px 18.8059005737px 18.8059005737px 18.8059005737px;
  box-shadow: 0px 2.3507375717px 7.0522127151px 0px rgba(32, 76, 136, 0.149);
}


.main-landing .highlight21 {
  position: absolute;
  top: 1242.5px;
  right: 1544px;
  bottom: 1866.5px;
  left: 187px;
  display: flex;
  align-items: center;
  width: 189px;
  height: 24px;
  font: 600 17.630531311px/1.33 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .rect3 {
  position: absolute;
  top: 1001px;
  right: 1496px;
  bottom: 1916px;
  left: 168px;
  width: 256px;
  height: 216px;
  background-color: #fefefe;
  
  border-radius: 18.8059005737px 18.8059005737px 0px 0px;
}

.main-landing .cover3 {
  position: absolute;
  top: 1001px;
  right: 1496px;
  bottom: 1916px;
  left: 168px;
  width: 256px;
  height: 216px;
}
.main-landing .rect4 {
  position: absolute;
  top: 1018px;
  right: 1687px;
  bottom: 2089px;
  left: 187px;
  width: 46px;
  height: 26px;
  background-color: #ffcfcf;
  border-radius: 4.7014751434px 4.7014751434px 4.7014751434px 4.7014751434px;
}
.main-landing .text {
  position: absolute;
  top: 1023.5px;
  right: 1691px;
  bottom: 2094.5px;
  left: 196px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 15px;
  font: 500 14.1044254303px/1 "Barlow", Helvetica, Arial, serif;
  color: #e61919;
}
.main-landing .image7 {
  position: absolute;
  top: 1010px;
  right: 1505px;
  bottom: 2076px;
  left: 368px;
  width: 47px;
  height: 47px;
  border-radius: 23.51px 23.51px 23.51px 23.51px;
}
.main-landing .subtitle1 {
  position: absolute;
  top: 1312.5px;
  right: 1679px;
  bottom: 1792.5px;
  left: 187px;
  display: flex;
  align-items: center;
  width: 54px;
  height: 28px;
  font: 700 21.1566371918px/1.27 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .highlight3 {
  position: absolute;
  top: 1316.5px;
  right: 1514px;
  bottom: 1792.5px;
  left: 383px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 24px;
  font: 600 16.4551620483px/1.42 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image9 {
  position: absolute;
  top: 1319px;
  right: 1542px;
  bottom: 1797px;
  left: 361px;
  width: 17px;
  height: 17px;
}
.main-landing .text1 {
  position: absolute;
  top: 1290px;
  right: 1681px;
  bottom: 1821px;
  left: 188px;
  display: flex;
  align-items: center;
  width: 51px;
  height: 22px;
  font: 400 14.1044254303px/1.49 "Barlow", Helvetica, Arial, serif;
  color: #747a84;
}
.main-landing .rect21 {
  position: absolute;
  top: 1001px;
  right: 1230px;
  bottom: 1774px;
  left: 434px;
  width: 256px;
  height: 358px;
  background-color: white;
  border-radius: 18.8059005737px 18.8059005737px 18.8059005737px 18.8059005737px;
  box-shadow: 0px 2.3507375717px 7.0522127151px 0px rgba(32, 76, 136, 0.149);
}
.main-landing .cover4 {
  position: absolute;
  top: 1232px;
  right: 1265px;
  bottom: 1855px;
  left: 453px;
  width: 202px;
  height: 46px;
}
.main-landing .highlight22 {
  position: absolute;
  top: 1254px;
  right: 1287px;
  bottom: 1855px;
  left: 618px;
  display: flex;
  align-items: center;
  width: 15px;
  height: 24px;
  font: 600 17.630531311px/1.33 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .rect31 {
  position: absolute;
  top: 1001px;
  right: 1230px;
  bottom: 1916px;
  left: 434px;
  width: 256px;
  height: 216px;
  background-color: #fefefe;
  border-radius: 18.8059005737px 18.8059005737px 0px 0px;
}
.main-landing .cover31 {
  position: absolute;
  top: 1001px;
  right: 1230px;
  bottom: 1916px;
  left: 434px;
  width: 256px;
  height: 216px;
}
.main-landing .rect5 {
  position: absolute;
  top: 1020px;
  right: 1421px;
  bottom: 2088px;
  left: 452px;
  width: 47px;
  height: 25px;
  background-color: #ffcfcf;
  border-radius: 4.7014751434px 4.7014751434px 4.7014751434px 4.7014751434px;
}
.main-landing .text2 {
  position: absolute;
  top: 1025.5px;
  right: 1426px;
  bottom: 2092.5px;
  left: 461px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 15px;
  font: 500 14.1044254303px/1 "Barlow", Helvetica, Arial, serif;
  color: #e61919;
}
.main-landing .image71 {
  position: absolute;
  top: 1010px;
  right: 1239px;
  bottom: 2076px;
  left: 634px;
  width: 47px;
  height: 47px;
  border-radius: 23.51px 23.51px 23.51px 23.51px;
}
.main-landing .subtitle11 {
  position: absolute;
  top: 1313.5px;
  right: 1414px;
  bottom: 1792.5px;
  left: 452px;
  display: flex;
  align-items: center;
  width: 54px;
  height: 27px;
  font: 700 21.1566371918px/1.27 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .text11 {
  position: absolute;
  top: 1291px;
  right: 1422px;
  bottom: 1820px;
  left: 452px;
  display: flex;
  align-items: center;
  width: 46px;
  height: 22px;
  font: 400 14.1044254303px/1.49 "Barlow", Helvetica, Arial, serif;
  color: #747a84;
}
.main-landing .highlight31 {
  position: absolute;
  top: 1316.5px;
  right: 1249px;
  bottom: 1792.5px;
  left: 648px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 24px;
  font: 600 16.4551620483px/1.42 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image91 {
  position: absolute;
  top: 1319px;
  right: 1276px;
  bottom: 1797px;
  left: 627px;
  width: 17px;
  height: 17px;
}
.main-landing .rect6 {
  position: absolute;
  top: 1001px;
  right: 964px;
  bottom: 1774px;
  left: 699px;
  width: 257px;
  height: 358px;
  background-color: white;
  border-radius: 18.8059005737px 18.8059005737px 18.8059005737px 18.8059005737px;
  box-shadow: 0px 2.3507375717px 7.0522127151px 0px rgba(32, 76, 136, 0.149);
}
.main-landing .highlight23 {
  position: absolute;
  top: 1242.5px;
  right: 997px;
  bottom: 1866.5px;
  left: 718px;
  display: flex;
  align-items: center;
  width: 205px;
  height: 24px;
  font: 600 17.630531311px/1.33 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .rect7 {
  position: absolute;
  top: 1001px;
  right: 964px;
  bottom: 1916px;
  left: 699px;
  width: 257px;
  height: 216px;
  background-color: #fefefe;
  border-radius: 18.8059005737px 18.8059005737px 0px 0px;
}
.main-landing .cover5 {
  position: absolute;
  top: 1001px;
  right: 964px;
  bottom: 1916px;
  left: 699px;
  width: 257px;
  height: 216px;
}
.main-landing .image72 {
  position: absolute;
  top: 1010px;
  right: 974px;
  bottom: 2076px;
  left: 899px;
  width: 47px;
  height: 47px;
  border-radius: 23.51px 23.51px 23.51px 23.51px;
}
.main-landing .rect41 {
  position: absolute;
  top: 1020px;
  right: 1156px;
  bottom: 2087px;
  left: 718px;
  width: 46px;
  height: 26px;
  background-color: #ffcfcf;
  border-radius: 4.7014751434px 4.7014751434px 4.7014751434px 4.7014751434px;
}
.main-landing .text3 {
  position: absolute;
  top: 1025.5px;
  right: 1161px;
  bottom: 2092.5px;
  left: 726px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 15px;
  font: 500 14.1044254303px/1 "Barlow", Helvetica, Arial, serif;
  color: #e61919;
}
.main-landing .subtitle12 {
  position: absolute;
  top: 1313.5px;
  right: 1128px;
  bottom: 1792.5px;
  left: 718px;
  display: flex;
  align-items: center;
  width: 74px;
  height: 27px;
  font: 700 21.1566371918px/1.27 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .text12 {
  position: absolute;
  top: 1291px;
  right: 1156px;
  bottom: 1820px;
  left: 718px;
  display: flex;
  align-items: center;
  width: 46px;
  height: 22px;
  font: 400 14.1044254303px/1.49 "Barlow", Helvetica, Arial, serif;
  color: #747a84;
}
.main-landing .highlight32 {
  position: absolute;
  top: 1316.5px;
  right: 983px;
  bottom: 1792.5px;
  left: 914px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 24px;
  font: 600 16.4551620483px/1.42 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image10 {
  position: absolute;
  top: 1319px;
  right: 1011px;
  bottom: 1797px;
  left: 893px;
  width: 16px;
  height: 17px;
}
.main-landing .rect22 {
  position: absolute;
  top: 1001px;
  right: 699px;
  bottom: 1774px;
  left: 965px;
  width: 256px;
  height: 358px;
  background-color: white;
  border-radius: 18.8059005737px 18.8059005737px 18.8059005737px 18.8059005737px;
  box-shadow: 0px 2.3507375717px 7.0522127151px 0px rgba(32, 76, 136, 0.149);
}
.main-landing .highlight24 {
  position: absolute;
  top: 1242.5px;
  right: 720px;
  bottom: 1866.5px;
  left: 984px;
  display: flex;
  align-items: center;
  width: 216px;
  height: 24px;
  font: 600 17.630531311px/1.33 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .rect32 {
  position: absolute;
  top: 1001px;
  right: 699px;
  bottom: 1916px;
  left: 965px;
  width: 256px;
  height: 216px;
  background-color: #fefefe;
  border-radius: 18.8059005737px 18.8059005737px 0px 0px;
}
.main-landing .image6 {
  position: absolute;
  top: 1020px;
  right: 733px;
  bottom: 1925px;
  left: 999px;
  width: 188px;
  height: 188px;
}
.main-landing .rect42 {
  position: absolute;
  top: 1020px;
  right: 890px;
  bottom: 2087px;
  left: 984px;
  width: 46px;
  height: 26px;
  background-color: #ffcfcf;
  border-radius: 4.7014751434px 4.7014751434px 4.7014751434px 4.7014751434px;
}
.main-landing .text4 {
  position: absolute;
  top: 1025.5px;
  right: 895px;
  bottom: 2092.5px;
  left: 992px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 15px;
  font: 500 14.1044254303px/1 "Barlow", Helvetica, Arial, serif;
  color: #e61919;
}
.main-landing .image73 {
  position: absolute;
  top: 1010px;
  right: 708px;
  bottom: 2076px;
  left: 1165px;
  width: 47px;
  height: 47px;
  border-radius: 23.51px 23.51px 23.51px 23.51px;
}
.main-landing .subtitle13 {
  position: absolute;
  top: 1313.5px;
  right: 866px;
  bottom: 1792.5px;
  left: 984px;
  display: flex;
  align-items: center;
  width: 70px;
  height: 27px;
  font: 700 21.1566371918px/1.27 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .text13 {
  position: absolute;
  top: 1291px;
  right: 891px;
  bottom: 1820px;
  left: 983px;
  display: flex;
  align-items: center;
  width: 46px;
  height: 22px;
  font: 400 14.1044254303px/1.49 "Barlow", Helvetica, Arial, serif;
  color: #747a84;
}
.main-landing .highlight33 {
  position: absolute;
  top: 1316.5px;
  right: 717px;
  bottom: 1792.5px;
  left: 1180px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 24px;
  font: 600 16.4551620483px/1.42 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image92 {
  position: absolute;
  top: 1319px;
  right: 744px;
  bottom: 1797px;
  left: 1159px;
  width: 17px;
  height: 17px;
}
.main-landing .rect23 {
  position: absolute;
  top: 1001px;
  right: 433px;
  bottom: 1774px;
  left: 1231px;
  width: 256px;
  height: 358px;
  background-color: white;
  border-radius: 18.8059005737px 18.8059005737px 18.8059005737px 18.8059005737px;
  box-shadow: 0px 2.3507375717px 7.0522127151px 0px rgba(32, 76, 136, 0.149);
}
.main-landing .highlight25 {
  position: absolute;
  top: 1231px;
  right: 468px;
  bottom: 1855px;
  left: 1249px;
  display: flex;
  align-items: center;
  width: 203px;
  height: 47px;
  font: 600 17.630531311px/1.33 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .rect33 {
  position: absolute;
  top: 1001px;
  right: 433px;
  bottom: 1916px;
  left: 1231px;
  width: 256px;
  height: 216px;
  background-color: #fefefe;
  border-radius: 18.8059005737px 18.8059005737px 0px 0px;
}
.main-landing .cover32 {
  position: absolute;
  top: 1001px;
  right: 433px;
  bottom: 1916px;
  left: 1231px;
  width: 256px;
  height: 216px;
}
.main-landing .rect8 {
  position: absolute;
  top: 1020px;
  right: 624px;
  bottom: 2087px;
  left: 1249px;
  width: 47px;
  height: 26px;
  background-color: #ffcfcf;
  border-radius: 4.7014751434px 4.7014751434px 4.7014751434px 4.7014751434px;
}
.main-landing .text5 {
  position: absolute;
  top: 1025.5px;
  right: 630px;
  bottom: 2092.5px;
  left: 1257px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 15px;
  font: 500 14.1044254303px/1 "Barlow", Helvetica, Arial, serif;
  color: #e61919;
}
.main-landing .image74 {
  position: absolute;
  top: 1010px;
  right: 443px;
  bottom: 2076px;
  left: 1430px;
  width: 47px;
  height: 47px;
  border-radius: 23.51px 23.51px 23.51px 23.51px;
}
.main-landing .text14 {
  position: absolute;
  top: 1291px;
  right: 625px;
  bottom: 1821px;
  left: 1249px;
  display: flex;
  align-items: center;
  width: 46px;
  height: 21px;
  font: 400 14.1044254303px/1.49 "Barlow", Helvetica, Arial, serif;
  color: #747a84;
}
.main-landing .subtitle14 {
  position: absolute;
  top: 1312.5px;
  right: 601px;
  bottom: 1792.5px;
  left: 1249px;
  display: flex;
  align-items: center;
  width: 70px;
  height: 28px;
  font: 700 21.1566371918px/1.27 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .highlight34 {
  position: absolute;
  top: 1316.5px;
  right: 451px;
  bottom: 1792.5px;
  left: 1446px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 24px;
  font: 600 16.4551620483px/1.42 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image101 {
  position: absolute;
  top: 1319px;
  right: 479px;
  bottom: 1797px;
  left: 1425px;
  width: 16px;
  height: 17px;
}
.main-landing .rect24 {
  position: absolute;
  top: 1001px;
  right: 168px;
  bottom: 1774px;
  left: 1496px;
  width: 256px;
  height: 358px;
  background-color: white;
  border-radius: 18.8059005737px 18.8059005737px 18.8059005737px 18.8059005737px;
  box-shadow: 0px 2.3507375717px 7.0522127151px 0px rgba(32, 76, 136, 0.149);
}
.main-landing .highlight26 {
  position: absolute;
  top: 1231px;
  right: 195px;
  bottom: 1855px;
  left: 1515px;
  display: flex;
  align-items: center;
  width: 210px;
  height: 47px;
  font: 600 17.630531311px/1.33 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .rect34 {
  position: absolute;
  top: 1001px;
  right: 168px;
  bottom: 1916px;
  left: 1496px;
  width: 256px;
  height: 216px;
  background-color: #fefefe;
  border-radius: 18.8059005737px 18.8059005737px 0px 0px;
}
.main-landing .cover33 {
  position: absolute;
  top: 1001px;
  right: 168px;
  bottom: 1916px;
  left: 1496px;
  width: 256px;
  height: 216px;
}
.main-landing .rect43 {
  position: absolute;
  top: 1020px;
  right: 359px;
  bottom: 2087px;
  left: 1515px;
  width: 46px;
  height: 26px;
  background-color: #ffcfcf;
  border-radius: 4.7014751434px 4.7014751434px 4.7014751434px 4.7014751434px;
}
.main-landing .text6 {
  position: absolute;
  top: 1025.5px;
  right: 364px;
  bottom: 2092.5px;
  left: 1523px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 15px;
  font: 500 14.1044254303px/1 "Barlow", Helvetica, Arial, serif;
  color: #e61919;
}
.main-landing .image75 {
  position: absolute;
  top: 1010px;
  right: 177px;
  bottom: 2076px;
  left: 1696px;
  width: 47px;
  height: 47px;
  border-radius: 23.51px 23.51px 23.51px 23.51px;
}
.main-landing .text15 {
  position: absolute;
  top: 1291.5px;
  right: 349px;
  bottom: 1820.5px;
  left: 1515px;
  display: flex;
  align-items: center;
  width: 56px;
  height: 21px;
  font: 400 14.1044254303px/1.49 "Barlow", Helvetica, Arial, serif;
  color: #747a84;
}
.main-landing .subtitle15 {
  position: absolute;
  top: 1313.5px;
  right: 335px;
  bottom: 1792.5px;
  left: 1515px;
  display: flex;
  align-items: center;
  width: 70px;
  height: 27px;
  font: 700 21.1566371918px/1.27 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .highlight35 {
  position: absolute;
  top: 1316.5px;
  right: 186px;
  bottom: 1792.5px;
  left: 1711px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 24px;
  font: 600 16.4551620483px/1.42 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image102 {
  position: absolute;
  top: 1319px;
  right: 214px;
  bottom: 1797px;
  left: 1690px;
  width: 16px;
  height: 17px;
}
.main-landing .cover6 {
  position: absolute;
  top: 1448px;
  right: 1219px;
  bottom: 1421px;
  left: 248px;
  width: 453px;
  height: 264px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.149));
}
.main-landing .title {
  position: absolute;
  top: 1468.5px;
  right: 1225px;
  bottom: 1623.5px;
  left: 460px;
  display: flex;
  align-items: center;
  width: 235px;
  height: 41px;
  font: 700 30px/1.36 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
  letter-spacing: -0.21px;
}
.main-landing .box3 {
  position: absolute;
  top: 1448px;
  right: 729px;
  bottom: 1421px;
  left: 738px;
  display: flex;
  flex-direction: column;
  width: 453px;
  height: 264px;
  background: var(--src) center center/100% 100% no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.149));
}
.main-landing .image12 {
  position: absolute;
  top: 1448px;
  right: 239px;
  bottom: 1421px;
  left: 1228px;
  width: 453px;
  height: 264px;
}
.main-landing .big_title {
  position: absolute;
  top: 1466.5px;
  right: 485px;
  bottom: 1584.5px;
  left: 1265px;
  display: flex;
  align-items: center;
  width: 170px;
  height: 82px;
  font: 700 36px/1.13 "Barlow", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.21px;
}
.main-landing .rect9 {
  position: absolute;
  top: 1852px;
  right: 1488px;
  bottom: 923px;
  left: 176px;
  width: 256px;
  height: 358px;
  background-color: white;
  border-radius: 18.7764396667px 18.7764396667px 18.7764396667px 18.7764396667px;
  box-shadow: 0px 2.3470549583px 7.041164875px 0px rgba(32, 76, 136, 0.149);
}
.main-landing .highlight4 {
  position: absolute;
  top: 2093.5px;
  right: 1536px;
  bottom: 1015.5px;
  left: 195px;
  display: flex;
  align-items: center;
  width: 189px;
  height: 24px;
  font: 600 17.6029109955px/1.33 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image15 {
  position: absolute;
  top: 1852px;
  right: 1488px;
  bottom: 1065px;
  left: 176px;
  width: 256px;
  height: 216px;
  border-radius: 18.7764396667px 18.7764396667px 0px 0px;
}
.main-landing .subtitle2 {
  position: absolute;
  top: 2164px;
  right: 1655px;
  bottom: 942px;
  left: 195px;
  display: flex;
  align-items: center;
  width: 70px;
  height: 27px;
  font: 700 21.1234931946px/1.27 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .highlight5 {
  position: absolute;
  top: 2167.5px;
  right: 1507px;
  bottom: 941.5px;
  left: 390px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 24px;
  font: 600 16.4293842316px/1.42 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image93 {
  position: absolute;
  top: 2170px;
  right: 1534px;
  bottom: 946px;
  left: 369px;
  width: 17px;
  height: 17px;
}
.main-landing .rect91 {
  position: absolute;
  top: 1852px;
  right: 1223px;
  bottom: 923px;
  left: 441px;
  width: 256px;
  height: 358px;
  background-color: white;
  border-radius: 18.7764396667px 18.7764396667px 18.7764396667px 18.7764396667px;
  box-shadow: 0px 2.3470549583px 7.041164875px 0px rgba(32, 76, 136, 0.149);
}
.main-landing .cover41 {
  position: absolute;
  top: 2083px;
  right: 1258px;
  bottom: 1004px;
  left: 460px;
  width: 202px;
  height: 46px;
}
.main-landing .rect10 {
  position: absolute;
  top: 1852px;
  right: 1223px;
  bottom: 1065px;
  left: 441px;
  width: 256px;
  height: 216px;
  background-color: #fefefe;
  border-radius: 18.7764396667px 18.7764396667px 0px 0px;
}
.main-landing .cover34 {
  position: absolute;
  top: 1852px;
  right: 1223px;
  bottom: 1065px;
  left: 441px;
  width: 256px;
  height: 216px;
}
.main-landing .rect11 {
  position: absolute;
  top: 1871px;
  right: 1414px;
  bottom: 1236px;
  left: 460px;
  width: 46px;
  height: 26px;
  background-color: #ffcfcf;
  border-radius: 4.6941099167px 4.6941099167px 4.6941099167px 4.6941099167px;
}
.main-landing .text21 {
  position: absolute;
  top: 1876.5px;
  right: 1419px;
  bottom: 1241.5px;
  left: 468px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 15px;
  font: 500 14.0823297501px/1 "Barlow", Helvetica, Arial, serif;
  color: #e61919;
}
.main-landing .image17 {
  position: absolute;
  top: 1862px;
  right: 1232px;
  bottom: 1224px;
  left: 641px;
  width: 47px;
  height: 47px;
  border-radius: 23.47px 23.47px 23.47px 23.47px;
}
.main-landing .subtitle21 {
  position: absolute;
  top: 2165px;
  right: 1389px;
  bottom: 942px;
  left: 461px;
  display: flex;
  align-items: center;
  width: 70px;
  height: 26px;
  font: 700 21.1234931946px/1.27 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .text31 {
  position: absolute;
  top: 2142.5px;
  right: 1413px;
  bottom: 968.5px;
  left: 461px;
  display: flex;
  align-items: center;
  width: 46px;
  height: 22px;
  font: 400 14.0823297501px/1.49 "Barlow", Helvetica, Arial, serif;
  color: #747a84;
}
.main-landing .highlight51 {
  position: absolute;
  top: 2167.5px;
  right: 1241px;
  bottom: 941.5px;
  left: 656px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 24px;
  font: 600 16.4293842316px/1.42 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image94 {
  position: absolute;
  top: 2170px;
  right: 1269px;
  bottom: 946px;
  left: 634px;
  width: 17px;
  height: 17px;
}
.main-landing .rect92 {
  position: absolute;
  top: 1852px;
  right: 958px;
  bottom: 923px;
  left: 706px;
  width: 256px;
  height: 358px;
  background-color: white;
  border-radius: 18.7764396667px 18.7764396667px 18.7764396667px 18.7764396667px;
  box-shadow: 0px 2.3470549583px 7.041164875px 0px rgba(32, 76, 136, 0.149);
}
.main-landing .highlight41 {
  position: absolute;
  top: 2082px;
  right: 990px;
  bottom: 1004px;
  left: 725px;
  display: flex;
  align-items: center;
  width: 205px;
  height: 47px;
  font: 600 17.6029109955px/1.33 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .rect101 {
  position: absolute;
  top: 1852px;
  right: 958px;
  bottom: 1065px;
  left: 706px;
  width: 256px;
  height: 216px;
  background-color: #fefefe;
  border-radius: 18.7764396667px 18.7764396667px 0px 0px;
}
.main-landing .cover35 {
  position: absolute;
  top: 1852px;
  right: 958px;
  bottom: 1065px;
  left: 706px;
  width: 256px;
  height: 216px;
}
.main-landing .image171 {
  position: absolute;
  top: 1862px;
  right: 967px;
  bottom: 1224px;
  left: 906px;
  width: 47px;
  height: 47px;
  border-radius: 23.47px 23.47px 23.47px 23.47px;
}
.main-landing .rect111 {
  position: absolute;
  top: 1871px;
  right: 1149px;
  bottom: 1236px;
  left: 725px;
  width: 46px;
  height: 26px;
  background-color: #ffcfcf;
  border-radius: 4.6941099167px 4.6941099167px 4.6941099167px 4.6941099167px;
}
.main-landing .text22 {
  position: absolute;
  top: 1876.5px;
  right: 1154px;
  bottom: 1241.5px;
  left: 733px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 15px;
  font: 500 14.0823297501px/1 "Barlow", Helvetica, Arial, serif;
  color: #e61919;
}
.main-landing .subtitle22 {
  position: absolute;
  top: 2165px;
  right: 1120px;
  bottom: 942px;
  left: 726px;
  display: flex;
  align-items: center;
  width: 74px;
  height: 26px;
  font: 700 21.1234931946px/1.27 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .text32 {
  position: absolute;
  top: 2142.5px;
  right: 1148px;
  bottom: 968.5px;
  left: 726px;
  display: flex;
  align-items: center;
  width: 46px;
  height: 22px;
  font: 400 14.0823297501px/1.49 "Barlow", Helvetica, Arial, serif;
  color: #747a84;
}
.main-landing .highlight52 {
  position: absolute;
  top: 2167.5px;
  right: 976px;
  bottom: 941.5px;
  left: 921px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 24px;
  font: 600 16.4293842316px/1.42 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image103 {
  position: absolute;
  top: 2170px;
  right: 1004px;
  bottom: 946px;
  left: 900px;
  width: 16px;
  height: 17px;
}
.main-landing .rect93 {
  position: absolute;
  top: 1852px;
  right: 692px;
  bottom: 923px;
  left: 972px;
  width: 256px;
  height: 358px;
  background-color: white;
  border-radius: 18.7764396667px 18.7764396667px 18.7764396667px 18.7764396667px;
  box-shadow: 0px 2.3470549583px 7.041164875px 0px rgba(32, 76, 136, 0.149);
}
.main-landing .highlight42 {
  position: absolute;
  top: 2093.5px;
  right: 714px;
  bottom: 1015.5px;
  left: 990px;
  display: flex;
  align-items: center;
  width: 216px;
  height: 24px;
  font: 600 17.6029109955px/1.33 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .rect102 {
  position: absolute;
  top: 1852px;
  right: 692px;
  bottom: 1065px;
  left: 972px;
  width: 256px;
  height: 216px;
  background-color: #fefefe;
  border-radius: 18.7764396667px 18.7764396667px 0px 0px;
}
.main-landing .wrapper14 {
  position: absolute;
  top: 1871px;
  right: 727px;
  bottom: 1074px;
  left: 1006px;
  width: 187px;
  height: 188px;
}
.main-landing .rect12 {
  position: absolute;
  top: 1870px;
  right: 883px;
  bottom: 1237px;
  left: 990px;
  width: 47px;
  height: 26px;
  background-color: #ffcfcf;
  border-radius: 4.6941099167px 4.6941099167px 4.6941099167px 4.6941099167px;
}
.main-landing .text23 {
  position: absolute;
  top: 1875.5px;
  right: 889px;
  bottom: 1242.5px;
  left: 998px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 15px;
  font: 500 14.0823297501px/1 "Barlow", Helvetica, Arial, serif;
  color: #e61919;
}
.main-landing .image172 {
  position: absolute;
  top: 1862px;
  right: 702px;
  bottom: 1224px;
  left: 1171px;
  width: 47px;
  height: 47px;
  border-radius: 23.47px 23.47px 23.47px 23.47px;
}
.main-landing .subtitle23 {
  position: absolute;
  top: 2165px;
  right: 872px;
  bottom: 942px;
  left: 990px;
  display: flex;
  align-items: center;
  width: 58px;
  height: 26px;
  font: 700 21.1234931946px/1.27 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .text33 {
  position: absolute;
  top: 2142.5px;
  right: 883px;
  bottom: 968.5px;
  left: 991px;
  display: flex;
  align-items: center;
  width: 46px;
  height: 22px;
  font: 400 14.0823297501px/1.49 "Barlow", Helvetica, Arial, serif;
  color: #747a84;
}
.main-landing .highlight53 {
  position: absolute;
  top: 2168px;
  right: 710px;
  bottom: 941px;
  left: 1187px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 24px;
  font: 600 16.4293842316px/1.42 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image95 {
  position: absolute;
  top: 2170px;
  right: 738px;
  bottom: 946px;
  left: 1165px;
  width: 17px;
  height: 17px;
}
.main-landing .rect94 {
  position: absolute;
  top: 1852px;
  right: 427px;
  bottom: 923px;
  left: 1237px;
  width: 256px;
  height: 358px;
  background-color: white;
  border-radius: 18.7764396667px 18.7764396667px 18.7764396667px 18.7764396667px;
  box-shadow: 0px 2.3470549583px 7.041164875px 0px rgba(32, 76, 136, 0.149);
}
.main-landing .highlight43 {
  position: absolute;
  top: 2093.5px;
  right: 462px;
  bottom: 1015.5px;
  left: 1256px;
  display: flex;
  align-items: center;
  width: 202px;
  height: 24px;
  font: 600 17.6029109955px/1.33 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image151 {
  position: absolute;
  top: 1852px;
  right: 427px;
  bottom: 1065px;
  left: 1237px;
  width: 256px;
  height: 216px;
  border-radius: 18.7764396667px 18.7764396667px 0px 0px;
}
.main-landing .subtitle24 {
  position: absolute;
  top: 2164px;
  right: 606px;
  bottom: 942px;
  left: 1256px;
  display: flex;
  align-items: center;
  width: 58px;
  height: 27px;
  font: 700 21.1234931946px/1.27 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .highlight54 {
  position: absolute;
  top: 2168px;
  right: 445px;
  bottom: 941px;
  left: 1452px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 24px;
  font: 600 16.4293842316px/1.42 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image104 {
  position: absolute;
  top: 2170px;
  right: 473px;
  bottom: 946px;
  left: 1431px;
  width: 16px;
  height: 17px;
}
.main-landing .rect95 {
  position: absolute;
  top: 1852px;
  right: 162px;
  bottom: 923px;
  left: 1502px;
  width: 256px;
  height: 358px;
  background-color: white;
  border-radius: 18.7764396667px 18.7764396667px 18.7764396667px 18.7764396667px;
  box-shadow: 0px 2.3470549583px 7.041164875px 0px rgba(32, 76, 136, 0.149);
}
.main-landing .highlight44 {
  position: absolute;
  top: 2082px;
  right: 189px;
  bottom: 1004px;
  left: 1521px;
  display: flex;
  align-items: center;
  width: 210px;
  height: 47px;
  font: 600 17.6029109955px/1.33 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .rect103 {
  position: absolute;
  top: 1852px;
  right: 162px;
  bottom: 1065px;
  left: 1502px;
  width: 256px;
  height: 216px;
  background-color: #fefefe;
  border-radius: 18.7764396667px 18.7764396667px 0px 0px;
}
.main-landing .cover36 {
  position: absolute;
  top: 1852px;
  right: 162px;
  bottom: 1065px;
  left: 1502px;
  width: 256px;
  height: 216px;
}
.main-landing .rect112 {
  position: absolute;
  top: 1871px;
  right: 353px;
  bottom: 1236px;
  left: 1521px;
  width: 46px;
  height: 26px;
  background-color: #ffcfcf;
  border-radius: 4.6941099167px 4.6941099167px 4.6941099167px 4.6941099167px;
}
.main-landing .text24 {
  position: absolute;
  top: 1876.5px;
  right: 358px;
  bottom: 1241.5px;
  left: 1529px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 15px;
  font: 500 14.0823297501px/1 "Barlow", Helvetica, Arial, serif;
  color: #e61919;
}
.main-landing .image173 {
  position: absolute;
  top: 1862px;
  right: 171px;
  bottom: 1224px;
  left: 1702px;
  width: 47px;
  height: 47px;
  border-radius: 23.47px 23.47px 23.47px 23.47px;
}
.main-landing .text34 {
  position: absolute;
  top: 2142.5px;
  right: 353px;
  bottom: 969.5px;
  left: 1521px;
  display: flex;
  align-items: center;
  width: 46px;
  height: 21px;
  font: 400 14.0823297501px/1.49 "Barlow", Helvetica, Arial, serif;
  color: #747a84;
}
.main-landing .subtitle25 {
  position: absolute;
  top: 2164px;
  right: 345px;
  bottom: 942px;
  left: 1521px;
  display: flex;
  align-items: center;
  width: 54px;
  height: 27px;
  font: 700 21.1234931946px/1.27 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .highlight55 {
  position: absolute;
  top: 2167.5px;
  right: 181px;
  bottom: 941.5px;
  left: 1716px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 24px;
  font: 600 16.4293842316px/1.42 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image96 {
  position: absolute;
  top: 2170px;
  right: 208px;
  bottom: 946px;
  left: 1695px;
  width: 17px;
  height: 17px;
}
.main-landing .rect96 {
  position: absolute;
  top: 2237px;
  right: 1489px;
  bottom: 538px;
  left: 175px;
  width: 256px;
  height: 358px;
  background-color: white;
  border-radius: 18.7764396667px 18.7764396667px 18.7764396667px 18.7764396667px;
  box-shadow: 0px 2.3470549583px 7.041164875px 0px rgba(32, 76, 136, 0.149);
}
.main-landing .highlight45 {
  position: absolute;
  top: 2478.5px;
  right: 1537px;
  bottom: 630.5px;
  left: 194px;
  display: flex;
  align-items: center;
  width: 189px;
  height: 24px;
  font: 600 17.6029109955px/1.33 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .rect104 {
  position: absolute;
  top: 2237px;
  right: 1489px;
  bottom: 680px;
  left: 175px;
  width: 256px;
  height: 216px;
  background-color: #fefefe;
  border-radius: 18.7764396667px 18.7764396667px 0px 0px;
}
.main-landing .cover37 {
  position: absolute;
  top: 2237px;
  right: 1489px;
  bottom: 680px;
  left: 175px;
  width: 256px;
  height: 216px;
}
.main-landing .rect113 {
  position: absolute;
  top: 2254px;
  right: 1680px;
  bottom: 853px;
  left: 194px;
  width: 46px;
  height: 26px;
  background-color: #ffcfcf;
  border-radius: 4.6941099167px 4.6941099167px 4.6941099167px 4.6941099167px;
}
.main-landing .text25 {
  position: absolute;
  top: 2259.5px;
  right: 1684px;
  bottom: 858.5px;
  left: 203px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 15px;
  font: 500 14.0823297501px/1 "Barlow", Helvetica, Arial, serif;
  color: #e61919;
}
.main-landing .image16 {
  position: absolute;
  top: 2246px;
  right: 1499px;
  bottom: 840px;
  left: 375px;
  width: 46px;
  height: 47px;
  border-radius: 23.47px 23.47px 23.47px 23.47px;
}
.main-landing .subtitle26 {
  position: absolute;
  top: 2550px;
  right: 1656px;
  bottom: 557px;
  left: 194px;
  display: flex;
  align-items: center;
  width: 70px;
  height: 26px;
  font: 700 21.1234931946px/1.27 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .highlight56 {
  position: absolute;
  top: 2552.5px;
  right: 1508px;
  bottom: 556.5px;
  left: 389px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 24px;
  font: 600 16.4293842316px/1.42 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image18 {
  position: absolute;
  top: 2555px;
  right: 1535px;
  bottom: 562px;
  left: 368px;
  width: 17px;
  height: 16px;
}
.main-landing .text35 {
  position: absolute;
  top: 2527.5px;
  right: 1679px;
  bottom: 583.5px;
  left: 195px;
  display: flex;
  align-items: center;
  width: 46px;
  height: 22px;
  font: 400 14.0823297501px/1.49 "Barlow", Helvetica, Arial, serif;
  color: #747a84;
}
.main-landing .rect97 {
  position: absolute;
  top: 2237px;
  right: 1224px;
  bottom: 538px;
  left: 440px;
  width: 256px;
  height: 358px;
  background-color: white;
  border-radius: 18.7764396667px 18.7764396667px 18.7764396667px 18.7764396667px;
  box-shadow: 0px 2.3470549583px 7.041164875px 0px rgba(32, 76, 136, 0.149);
}
.main-landing .image19 {
  position: absolute;
  top: 2467px;
  right: 1259px;
  bottom: 619px;
  left: 459px;
  width: 202px;
  height: 47px;
}
.main-landing .image152 {
  position: absolute;
  top: 2237px;
  right: 1224px;
  bottom: 680px;
  left: 440px;
  width: 256px;
  height: 216px;
  border-radius: 18.7764396667px 18.7764396667px 0px 0px;
}
.main-landing .subtitle27 {
  position: absolute;
  top: 2549px;
  right: 1406px;
  bottom: 557px;
  left: 460px;
  display: flex;
  align-items: center;
  width: 54px;
  height: 27px;
  font: 700 21.1234931946px/1.27 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .highlight57 {
  position: absolute;
  top: 2552.5px;
  right: 1241px;
  bottom: 556.5px;
  left: 656px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 24px;
  font: 600 16.4293842316px/1.42 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image181 {
  position: absolute;
  top: 2555px;
  right: 1270px;
  bottom: 562px;
  left: 633px;
  width: 17px;
  height: 16px;
}
.main-landing .rect98 {
  position: absolute;
  top: 2237px;
  right: 959px;
  bottom: 538px;
  left: 705px;
  width: 256px;
  height: 358px;
  background-color: white;
  border-radius: 18.7764396667px 18.7764396667px 18.7764396667px 18.7764396667px;
  box-shadow: 0px 2.3470549583px 7.041164875px 0px rgba(32, 76, 136, 0.149);
}
.main-landing .highlight46 {
  position: absolute;
  top: 2467px;
  right: 991px;
  bottom: 619px;
  left: 724px;
  display: flex;
  align-items: center;
  width: 205px;
  height: 47px;
  font: 600 17.6029109955px/1.33 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image153 {
  position: absolute;
  top: 2237px;
  right: 959px;
  bottom: 680px;
  left: 705px;
  width: 256px;
  height: 216px;
  border-radius: 18.7764396667px 18.7764396667px 0px 0px;
}
.main-landing .subtitle28 {
  position: absolute;
  top: 2549px;
  right: 1137px;
  bottom: 557px;
  left: 725px;
  display: flex;
  align-items: center;
  width: 58px;
  height: 27px;
  font: 700 21.1234931946px/1.27 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .highlight58 {
  position: absolute;
  top: 2552.5px;
  right: 977px;
  bottom: 556.5px;
  left: 920px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 24px;
  font: 600 16.4293842316px/1.42 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image20 {
  position: absolute;
  top: 2555px;
  right: 1005px;
  bottom: 562px;
  left: 899px;
  width: 16px;
  height: 16px;
}
.main-landing .rect99 {
  position: absolute;
  top: 2237px;
  right: 693px;
  bottom: 538px;
  left: 971px;
  width: 256px;
  height: 358px;
  background-color: white;
  border-radius: 18.7764396667px 18.7764396667px 18.7764396667px 18.7764396667px;
  box-shadow: 0px 2.3470549583px 7.041164875px 0px rgba(32, 76, 136, 0.149);
}
.main-landing .highlight47 {
  position: absolute;
  top: 2467px;
  right: 715px;
  bottom: 619px;
  left: 989px;
  display: flex;
  align-items: center;
  width: 216px;
  height: 47px;
  font: 600 17.6029109955px/1.33 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image154 {
  position: absolute;
  top: 2237px;
  right: 693px;
  bottom: 680px;
  left: 971px;
  width: 256px;
  height: 216px;
  border-radius: 18.7764396667px 18.7764396667px 0px 0px;
}
.main-landing .subtitle29 {
  position: absolute;
  top: 2549px;
  right: 877px;
  bottom: 557px;
  left: 989px;
  display: flex;
  align-items: center;
  width: 54px;
  height: 27px;
  font: 700 21.1234931946px/1.27 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .highlight59 {
  position: absolute;
  top: 2552.5px;
  right: 711px;
  bottom: 556.5px;
  left: 1186px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 24px;
  font: 600 16.4293842316px/1.42 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image182 {
  position: absolute;
  top: 2555px;
  right: 739px;
  bottom: 562px;
  left: 1164px;
  width: 17px;
  height: 16px;
}
.main-landing .rect910 {
  position: absolute;
  top: 2237px;
  right: 428px;
  bottom: 538px;
  left: 1236px;
  width: 256px;
  height: 358px;
  background-color: white;
  border-radius: 18.7764396667px 18.7764396667px 18.7764396667px 18.7764396667px;
  box-shadow: 0px 2.3470549583px 7.041164875px 0px rgba(32, 76, 136, 0.149);
}
.main-landing .highlight48 {
  position: absolute;
  top: 2478.5px;
  right: 463px;
  bottom: 630.5px;
  left: 1255px;
  display: flex;
  align-items: center;
  width: 202px;
  height: 24px;
  font: 600 17.6029109955px/1.33 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image155 {
  position: absolute;
  top: 2237px;
  right: 428px;
  bottom: 680px;
  left: 1236px;
  width: 256px;
  height: 216px;
  border-radius: 18.7764396667px 18.7764396667px 0px 0px;
}
.main-landing .subtitle210 {
  position: absolute;
  top: 2549px;
  right: 611px;
  bottom: 557px;
  left: 1255px;
  display: flex;
  align-items: center;
  width: 54px;
  height: 27px;
  font: 700 21.1234931946px/1.27 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .highlight510 {
  position: absolute;
  top: 2553px;
  right: 446px;
  bottom: 556px;
  left: 1451px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 24px;
  font: 600 16.4293842316px/1.42 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image201 {
  position: absolute;
  top: 2555px;
  right: 474px;
  bottom: 562px;
  left: 1430px;
  width: 16px;
  height: 16px;
}
.main-landing .rect911 {
  position: absolute;
  top: 2237px;
  right: 163px;
  bottom: 538px;
  left: 1501px;
  width: 256px;
  height: 358px;
  background-color: white;
  border-radius: 18.7764396667px 18.7764396667px 18.7764396667px 18.7764396667px;
  box-shadow: 0px 2.3470549583px 7.041164875px 0px rgba(32, 76, 136, 0.149);
}
.main-landing .highlight49 {
  position: absolute;
  top: 2467px;
  right: 190px;
  bottom: 619px;
  left: 1520px;
  display: flex;
  align-items: center;
  width: 210px;
  height: 47px;
  font: 600 17.6029109955px/1.33 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .rect105 {
  position: absolute;
  top: 2237px;
  right: 163px;
  bottom: 680px;
  left: 1501px;
  width: 256px;
  height: 216px;
  background-color: #fefefe;
  border-radius: 18.7764396667px 18.7764396667px 0px 0px;
}
.main-landing .cover38 {
  position: absolute;
  top: 2237px;
  right: 163px;
  bottom: 680px;
  left: 1501px;
  width: 256px;
  height: 216px;
}
.main-landing .rect114 {
  position: absolute;
  top: 2256px;
  right: 354px;
  bottom: 851px;
  left: 1520px;
  width: 46px;
  height: 26px;
  background-color: #ffcfcf;
  border-radius: 4.6941099167px 4.6941099167px 4.6941099167px 4.6941099167px;
}
.main-landing .text26 {
  position: absolute;
  top: 2261.5px;
  right: 359px;
  bottom: 856.5px;
  left: 1528px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 15px;
  font: 500 14.0823297501px/1 "Barlow", Helvetica, Arial, serif;
  color: #e61919;
}
.main-landing .image174 {
  position: absolute;
  top: 2246px;
  right: 172px;
  bottom: 840px;
  left: 1701px;
  width: 47px;
  height: 47px;
  border-radius: 23.47px 23.47px 23.47px 23.47px;
}
.main-landing .text36 {
  position: absolute;
  top: 2527.5px;
  right: 354px;
  bottom: 584.5px;
  left: 1520px;
  display: flex;
  align-items: center;
  width: 46px;
  height: 21px;
  font: 400 14.0823297501px/1.49 "Barlow", Helvetica, Arial, serif;
  color: #747a84;
}
.main-landing .subtitle211 {
  position: absolute;
  top: 2549px;
  right: 346px;
  bottom: 557px;
  left: 1520px;
  display: flex;
  align-items: center;
  width: 54px;
  height: 27px;
  font: 700 21.1234931946px/1.27 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .highlight511 {
  position: absolute;
  top: 2552.5px;
  right: 182px;
  bottom: 556.5px;
  left: 1715px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 24px;
  font: 600 16.4293842316px/1.42 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
}
.main-landing .image183 {
  position: absolute;
  top: 2555px;
  right: 209px;
  bottom: 562px;
  left: 1694px;
  width: 17px;
  height: 16px;
}
.main-landing .medium_title3 {
  position: absolute;
  top: 1783px;
  right: 1605px;
  bottom: 1314px;
  left: 169px;
  display: flex;
  align-items: center;
  width: 146px;
  height: 36px;
  font: 600 27.9125003815px/1.28 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
  letter-spacing: -0.3px;
}
.main-landing .rect13 {
  position: absolute;
  top: 2712px;
  right: 0px;
  bottom: 1px;
  left: 0px;
  width: 1920px;
  height: 420px;
  background-color: #3d3d3d;
}
.main-landing .line {
  position: absolute;
  top: 2710px;
  right: 160px;
  bottom: 422px;
  left: 160px;
  width: 1600px;
  height: 1px;
}
.main-landing .highlight6 {
  position: absolute;
  top: 2791px;
  right: 1720px;
  bottom: 318px;
  left: 158px;
  display: flex;
  align-items: center;
  width: 42px;
  height: 24px;
  font: 400 16px/1.5 "Barlow", Helvetica, Arial, serif;
  color: #fefefe;
}
.main-landing .highlight61 {
  position: absolute;
  top: 2824px;
  right: 1683px;
  bottom: 285px;
  left: 158px;
  display: flex;
  align-items: center;
  width: 79px;
  height: 24px;
  font: 400 16px/1.5 "Barlow", Helvetica, Arial, serif;
  color: #fefefe;
}
.main-landing .highlight62 {
  position: absolute;
  top: 2856px;
  right: 1692px;
  bottom: 253px;
  left: 158px;
  display: flex;
  align-items: center;
  width: 70px;
  height: 24px;
  font: 400 16px/1.5 "Barlow", Helvetica, Arial, serif;
  color: #fefefe;
}
.main-landing .highlight7 {
  position: absolute;
  top: 2759px;
  right: 1497px;
  bottom: 352px;
  left: 344px;
  display: flex;
  align-items: center;
  width: 79px;
  height: 22px;
  font: 600 16px/1.37 "Barlow", Helvetica, Arial, serif;
  color: white;
}
.main-landing .highlight63 {
  position: absolute;
  top: 2791px;
  right: 1377px;
  bottom: 318px;
  left: 344px;
  display: flex;
  align-items: center;
  width: 199px;
  height: 24px;
  font: 400 16px/1.5 "Barlow", Helvetica, Arial, serif;
  color: #fefefe;
}
.main-landing .highlight64 {
  position: absolute;
  top: 2823px;
  right: 1494px;
  bottom: 286px;
  left: 344px;
  display: flex;
  align-items: center;
  width: 82px;
  height: 24px;
  font: 400 16px/1.5 "Barlow", Helvetica, Arial, serif;
  color: #fefefe;
}
.main-landing .highlight65 {
  position: absolute;
  top: 2855px;
  right: 1413px;
  bottom: 254px;
  left: 344px;
  display: flex;
  align-items: center;
  width: 163px;
  height: 24px;
  font: 400 16px/1.5 "Barlow", Helvetica, Arial, serif;
  color: #fefefe;
}
.main-landing .highlight66 {
  position: absolute;
  top: 2887px;
  right: 1348px;
  bottom: 222px;
  left: 344px;
  display: flex;
  align-items: center;
  width: 228px;
  height: 24px;
  font: 400 16px/1.5 "Barlow", Helvetica, Arial, serif;
  color: #fefefe;
}
.main-landing .line1 {
  position: absolute;
  top: 2999px;
  right: 160px;
  bottom: 133px;
  left: 160px;
  width: 1600px;
  height: 1px;
}
.main-landing .image21 {
  position: absolute;
  top: 3050px;
  right: 983px;
  bottom: 43px;
  left: 897px;
  width: 40px;
  height: 40px;
  border-radius: 20px 20px 20px 20px;
}
.main-landing .highlight8 {
  position: absolute;
  top: 2759px;
  right: 1665px;
  bottom: 354px;
  left: 158px;
  display: flex;
  align-items: center;
  width: 97px;
  height: 20px;
  font: 600 16px/1.25 "Barlow", Helvetica, Arial, serif;
  color: white;
}
.main-landing .image23 {
  position: absolute;
  top: 3023px;
  right: 204px;
  bottom: 83px;
  left: 1688px;
  width: 28px;
  height: 27px;
}
.main-landing .image231 {
  position: absolute;
  top: 3022px;
  right: 160px;
  bottom: 84px;
  left: 1732px;
  width: 28px;
  height: 27px;
}
.main-landing .cover7 {
  position: absolute;
  top: 282px;
  right: 255px;
  bottom: 2290px;
  left: 995px;
  width: 670px;
  height: 561px;
  border-radius: 25px 25px 25px 25px;
}
.main-landing .title1 {
  position: absolute;
  top: 309px;
  right: 293px;
  bottom: 2751px;
  left: 1435px;
  display: flex;
  align-items: center;
  width: 192px;
  height: 73px;
  font: 700 31.9561634064px/1.13 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
  letter-spacing: -0.18px;
}
.main-landing .image24 {
  position: absolute;
  top: 293px;
  right: 389px;
  bottom: 2280px;
  left: 995px;
  width: 536px;
  height: 560px;
  border-radius: 15px 15px 15px 15px;
}
.main-landing .cover8 {
  position: absolute;
  top: 275px;
  right: 879px;
  bottom: 2427px;
  left: 531px;
  width: 510px;
  height: 431px;
}
.main-landing .title2 {
  position: absolute;
  top: 307px;
  right: 1116px;
  bottom: 2753px;
  left: 611px;
  display: flex;
  align-items: center;
  width: 193px;
  height: 73px;
  font: 700 28.4054794312px/1.28 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
  letter-spacing: -0.18px;
}
.main-landing .image25 {
  position: absolute;
  top: 620px;
  right: 954px;
  bottom: 2227px;
  left: 536px;
  width: 430px;
  height: 286px;
}
.main-landing .title21 {
  position: absolute;
  top: 649px;
  right: 909px;
  bottom: 2411px;
  left: 804px;
  display: flex;
  align-items: center;
  width: 207px;
  height: 73px;
  font: 700 28.4054794312px/1.28 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
  
}
.main-landing .cover9 {
  position: absolute;
  top: 281px;
  right: 1363px;
  bottom: 2291px;
  left: 247px;
  width: 310px;
  height: 561px;
  border-radius: 25px 25px 25px 25px;
}
.main-landing .title3 {
  position: absolute;
  top: 307px;
  right: 1348px;
  bottom: 2769px;
  left: 392px;
  display: flex;
  align-items: center;
  width: 180px;
  height: 57px;
  font: 700 28.4054794312px/1 "Barlow", Helvetica, Arial, serif;
  color: #0e0e0f;
  letter-spacing: -0.18px;
}
